@page
@model Piskvorky.Pages.GameModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Hra Piškvorky</title>
    <meta charset="utf-8" />
    <style>
        #name {
            display: flex;
            justify-content: center;
            margin-bottom: -90px;
        }

        #text {
            font-size: 2rem;
        }
        table{margin: 0px;}
        .gamefield > table, tr, td {
            border: 1px solid black;
        }
        td {
            width: 60px;
            height: 60px;
            text-align: center;
        }
        #flexin {
            display: flex;
            justify-content: center;
            margin: 100px;
        }
        a {
            border: none;
            color: black;
            padding: 12px;
            
            text-decoration: none;
            display: inline-block;
            font-size: 15px;
            margin: 0px;
            cursor: pointer;
        }
        a:hover
        { text-decoration: none; color: black; }
    </style>

</head>
<body>
    <section id="name">
        <span id="text">Jmenuješ se: @Model.Text</span>
    </section>
    <div id="flexin">
        <div class="gamefield">
            <table>
                @for (int i = 0; i < Math.Sqrt(Model.Plocha._Pole.Length); i++)
                {
                    <tr>
                        @for (int a = 0; a < Math.Sqrt(Model.Plocha._Pole.Length); a++)
                        {

                            <td><a asp-page-handler="Play" asp-route-X="@a" asp-route-Y="@i">@Model.Plocha._Pole[a, i].Value</a></td>
                        }
                    </tr>
                }
            </table>
            <p><span>@Model._win</span></p>
        </div>
    </div>
    
</body>
</html>